/*Overwrite CSS*/
a, a:hover, a:active, a:focus{color: #548235; text-decoration: none;}
/*Navbar Overwrites*/
.navbar-nav > li > a { color: #fff; font-size: 24px; padding:30px 40px; }
.navbar-nav > li > a:hover  { background: transparent;}
/*Button Overwrites*/
button.btn-primary, button.btn-primary:hover,button.btn-primary:active, button.btn-primary:focus {background: #bf9000;border-color: #bf9000;border-radius: 0;}
button.btn-secondary, button.btn-secondary:hover, button.btn-secondary:active,button.btn-secondary:focus {background: #548235;border-color: #548235;border-radius: 0;color: #fff; font-size: 18px; font-weight:600; padding: ;}
.btn.action-btn { padding-left: 80px; padding-right: 80px; 	margin-bottom: 20px; font-size: 18px; }
/*Form elements Overwrites*/
.form-group .form-control {border-radius: 0;height:50px;border-color:#7030a0;}
thead { background: #a9d18e;font-size: 1.1em; color: #fff;}
thead tr th{ vertical-align: top!important; text-align: center;}
.modal-title{font-size: 18px; font-weight:600;}
.table>thead>tr>td, .table>thead>tr>th{font-size:16px; font-weight:600;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th{font-size:14px; font-weight:600;}
/*Modal Overwrites*/
.modal-content {border: 1px solid #999;	border: 2px solid #548235;	border-radius: 0;}
.modal-header { padding: 15px; border-bottom: 1px solid #e5e5e5; background: #a9d18e; text-align: center; color: #fff; }
.modal-body {padding: 20px 20px 50px; }

/*Custom CSS*/
.home {background: url( '../images/rolex-login.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.container.login-box { border: 2px solid #548235;  width: 30%;  margin-top: 12%;  background: #fff;  padding: 30px; }
.login-box .box-head-logo{margin: 0 0 5% 0; text-align: center; color: #bf9000;}
.login-box .box-head-logo img { display: block; margin: 5px auto; }
.login-box .box-foot-logo{margin: 5% 0 0 0; text-align: center;}
.box-foot-name{text-align: center; margin-bottom: 0;color: #777;font-size: 23px;}

/*Sidebar css*/
.sidebar { background: #181717; height: 768px; padding: 2%; }
.sidebar ul { list-style-type: none; }
.sidebar ul li { margin-bottom: 20px; }
.sidebar ul li a {font-size: 16px;color: #ccc; font-weight: 600;}
.sidebar ul li a.active {font-size: 16px;font-weight: 600; color: #fff; }
.sidebar .logo { text-align: center; margin-bottom: 40%; }

/*Slider css*/
.slider-container {height: 40px; margin-top: 40px; margin-left:5% !important;/*width: 92% !important; margin-left: 2%;*/}
.slider-container .back-bar .pointer { cursor: pointer; }
.theme-green .back-bar .selected-bar { background-color: #a9d18e !important; background-image: none !important; }
.slider-container .back-bar .pointer-label ,.slider-container .scale ins { font-size: 13px; }
.scale span:last-child ins { margin-left: -15px !important; }
.theme-green .back-bar { height: 10px; }
.theme-green .back-bar .pointer { width: 16px; height: 16px; top: -4px; }

@media (max-width: 667px) {
	.sidebar { background: transparent; height: auto; padding: 1%; display: block; }
	.sidebar .logo { margin-bottom: 5%; }
	.sidebar ul { list-style-type: none;padding-left: 5px; overflow: hidden;}
	.sidebar ul li { margin: 5px 5px; float: left; }
	.sidebar ul li a { font-size: 1.3em!important; padding: 5px 10px; color: #fff; background: #777; border-radius: 5px; }
	.sidebar ul li a.active { background-color: #333}
}
.sub-logo { text-align: center; margin: 2% auto 10%; font-size: 2em; color: #777; }
.sub-logo img { margin-right: 1%; }

/*Media Queries*/
@media (max-width: 767px) {
  .navbar-toggle { background-color: #fff;}
  .navbar-toggle .icon-bar {background: #000;}
  .navbar-nav {  background: rgb(0,0,0,.6); }
  .navbar-nav > li > a { font-size: 18px; padding: 10px 25px; border-bottom: 1px solid #bbb;}
}
@media (max-width: 667px) {
  .container.login-box { width: 80%; margin-top: 30%; padding: 30px; }
}
